<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="https://codeforces.com/profile/SloNet" class="link-info">Codeforces Link</a>
    <br>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Github Profile </h5>
          <p class="card-text">This is to make ourselves known and connect with each other.</p>
          <a href="https://github.com/dhananjaypai08" class="btn btn-primary stretched-link">Github link</a>
        </div>
      </div>
</body>
</html>